@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.component {
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding: 13px;
    margin: 50px auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 27.073px;
}

.rotate {
    transform: rotate(180deg);
}

.option {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-bottom: 5px;

}

.all_options_scroll {
    overflow-y: scroll;
    max-height: 548.502px;

}

.picked {
    margin-bottom: 20px;
}

.picked h6,
.all h6 {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 27.073px;
}

.checkboxn {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 2px solid rgba(94, 110, 120, 0.40);
    background: rgba(217, 217, 217, 0.00);
    padding: 1px;
}

.picked .inner_box {
    border-radius: 3px;
    background: #FFB849;
    width: 100%;
    height: 100%;
}

.picked p {
    border-radius: 19px;
    background: rgba(94, 110, 120, 0.20);
    padding: 5px 8px;
    color: #5E6E78;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
}

.all .op {
    color: #5E6E78;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 19px;
    background: rgba(94, 110, 120, 0.10);
    padding: 5px 8px;
    transition: 0.3s ease-in;
    display: flex;
    gap: 10px;
    align-items: center;
}

.all .inner_box {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: 0.3s ease-in;
}

.all .option:hover .op {
    background: rgba(94, 110, 120, 0.20);
    color: #5E6E78;

}

.option:hover .input_option_designp {
    display: block;

}

.all .option:hover .inner_box {
    border-radius: 3px;
    background: rgba(94, 110, 120, 0.40);
    width: 100%;
    height: 100%;
}



.input_option_design {
    width: 50px;
    border: none;
    /* display: none; */
    text-align: center;
}

.hover_items {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.click_box {

    border-radius: 19px;
    background: rgba(94, 110, 120, 0.20);
    padding: 5px 8px;
    color: #5E6E78;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
}

.center_section_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

.ppppp {
    display: none;
}


.i_d_btn {

    display: none;
    padding: 0;

}

.i_d_btn button {
    border: none;
    background-color: transparent;
    padding: 0 !important;
    margin: 0 !important;
    height: 7px;

}

.all .option:hover .ppppp {
    display: block;
}

.all .option:hover .i_d_btn {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center !important;
    padding: 0;
}